#tooltip {
	position: absolute;
	visibility: hidden;
	border: 1px solid black;
	background-color: #FFFFEE;
	color: black;
	font-size: 0.9em;
	opacity: 0.9;
	padding: 0em;
	z-index: 2000;
	-webkit-box-shadow: 0.2em 0.2em 0.4em rgba(0,0,0,0.5);
	box-shadow: 0.2em 0.2em 0.4em rgba(0,0,0,0.5);
	filter: alpha(opacity=90);
}

#tooltip div {
	padding: 0.15em;
}